*{
  margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
font-family: 'Caveat', cursive;
@media (min-width:768px) {
  font-size: 70%;
  
}
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(35, 217, 151 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #1b1b1b75;
  border-radius: 20px;
  border: transparent;
}


